@using RESAERCHMENTOR.NET_V2.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@*<h3>@ViewBag.Title.</h3>*@

<div class="row">
    <div class="col-md-12">
        <div class="table-struct full-width full-height">
            <div class="table-cell vertical-align-middle auth-form-wrap">

                <div class="auth-form  ml-auto mr-auto no-float">

                    <!-- SAKA-->
                    <div class="row">
                        <div class="col-md-12">
                            <section id="loginForm">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                                    @Html.AntiForgeryToken()
                                    <div class="mb-30">
                                        <h3 class="text-center txt-dark mb-10">Sign in</h3>
                                        <h5 class="text-center nonecase-font txt-grey">Enter your details below</h5>
                                    </div>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                                                     
                                      
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <a class="capitalize-font txt-primary block mb-10 pull-right font-12">  @Html.ActionLink("Forgot your password?", "ForgotPassword")</a>
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-info  btn-rounded">sign in</button>
                                        </div>
                                        
                                    </div>
                                    @*<p class="pull-left yusufReg">
                                        <button class="btn btn-info">     @Html.ActionLink("Register as a new user", "Register")</button>
                                    </p>*@
                                    
                                }
                            </section>
                        </div>
                        <!--check if you will see this-->
                        @*<div class="col-md-4">
                                <section id="socialLoginForm">
                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                </section>
                            </div>*@
                    </div>
                    <!-- SAKA-->
                </div>
            </div>
        </div>


    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
