@model RESAERCHMENTOR.NET_V2.Models.MyModelObjects
@using Microsoft.AspNet.Identity
@using System.Globalization
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<br /><br /><br />
<!-- Row -->
<div class="row">
    <div class="col-lg-3 col-xs-12">
        <div class="panel panel-default card-view  pa-0">
            <div class="panel-wrapper collapse in">
                <div class="panel-body  pa-0">
                    <div class="profile-box">
                        <div class="profile-cover-pic">
                            <div class="profile-image-overlay"></div>
                        </div>
                        <div class="profile-info text-center">
                            <div class="profile-img-wrap">
@if (@Model.MyProfile.ProfilePicsName == string.Empty && Model.MyProfile.Gender == "Male")
{
    <img src="~/Content/dist/img/userMale.png" alt="user_auth" class="user-auth-img img-circle" width="137" height="137" />
}
else if (@Model.MyProfile.ProfilePicsName == string.Empty && Model.MyProfile.Gender == "Female")
{
    <img src="~/Content/dist/img/userfeMale.png" alt="user_auth" class="user-auth-img img-circle" width="137" height="137" />
}
else
{
                                <img class="user-auth-img img-circle" src="~/Files/@Model.MyProfile.ProfilePicsName" alt="user" width="137" height="137" />
}

                            </div>
                            <h5 class="block mt-10 mb-5 weight-500 capitalize-font txt-info">@Model.MyProfile.FullName</h5>
                            <h6 class="block capitalize-font pb-20">@Model.MyProfile.Expertise</h6>
                        </div>
                        <div class="social-info">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <span class="counts block head-font"><span class="counter-anim">@Model.MyResearch.Count()</span></span>
                                    <span class="counts-text block">post</span>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <span class="counts block head-font"><span class="counter-anim">@Model.FollowCount</span></span>
                                    <span class="counts-text block">followers</span>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <span class="counts block head-font"><span class="counter-anim">@Model.FollowingCount</span></span>
                                    <span class="counts-text block">Following</span>
                                </div>
                            </div>


                            <button class="btn btn-info btn-block  btn-anim mt-30" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil"></i><span class="btn-text">Message</span></button>

                            <!-- Modal SAKA -->
                            <div aria-hidden="true" role="dialog" tabindex="-1" id="myModal2" class="modal fade" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                            <h4 class="modal-title">Compose</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form role="form" class="form-horizontal" action="@Url.Action("Messages_Click", "MentorPartner")" method="post" role="form" enctype="multipart/form-data" id="FileData">
                                                @Html.AntiForgeryToken()
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">To</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" value=@Model.MyProfile.OwnersId placeholder="" id="OwnersId" name="OwnersId" class="form-control" readonly="readonly">
                                                        </div>
                                                    </div>
                                                    @*<div class="form-group">
                                                        <label class="col-lg-2 control-label">Cc / Bcc</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" placeholder="" id="cc" class="form-control">
                                                        </div>
                                                    </div>*@
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">Subject</label>
                                                        <div class="col-lg-10">
                                                            <input type="text" value=@Model.MyProfile.Subject placeholder="" id="Subject" name="Subject" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">Message</label>
                                                        <div class="col-lg-10">
                                                            <textarea class="textarea_editor form-control" id="Message" name="Message" value=@Model.MyProfile.Message rows="15" placeholder="Enter text ..."></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-offset-2 col-lg-10">
                                                            <div class="fileupload btn btn-info btn-anim mr-10">
                                                                <i class="fa fa-paperclip"></i><span class="btn-text">attachments</span>
                                                                <input type="file" class="upload" name="postedFile" />
                                                            </div>

                                                            <button class="btn btn-success" type="submit">Send</button>
                                                        </div>
                                                    </div>
                                                </form>
</div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal SAKA -->




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-xs-12">
        <div class="panel panel-default card-view pa-0">
            <div class="panel-wrapper collapse in">
                <div class="panel-body pb-0">
                    <div class="tab-struct custom-tab-1">
                        <ul role="tablist" class="nav nav-tabs nav-tabs-responsive" id="myTabs_8">
                            <li class="active" role="presentation"><a data-toggle="tab" id="profile_tab_9" role="tab" href="#profile_9" aria-expanded="false"><span>info</span></a></li>
                            <!---li role="presentation" class=""><a data-toggle="tab" id="follo_tab_8" role="tab" href="#follo_8" aria-expanded="false"><span>Follow</span></a></li-->
                            <li role="presentation" class=""><a data-toggle="tab" id="following_tab_8" role="tab" href="#folloing_8" aria-expanded="false"><span>Following</span></a></li>
                        </ul>
                        <div class="tab-content" id="myTabContent_8">
                            <div id="profile_9" class="tab-pane fade active in" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pt-20">
                                            <div class="streamline user-activity">
                                                <div class="sl-item" style="border:none;">
                                                    <a href="#">

                                                        <div class="sl-content" style="margin-left:0px;">
                                                            <span class="capitalize-font txt-success mr-5 weight-500"> Bio-Data</span>
                                                            <hr>
                                                            <p class="inline-block"><br><br></p>
                                                            <div class="col-lg-12">
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Title:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.Title</div></div>
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> First Name:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.FName</div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Last Name:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.LName </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Gender:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.Gender </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Mobile:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.CNumber</div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Date of Birth:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.BDate</div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Country:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.Country</div>
                                                                </div>




                                                                                        </div>

                                                        </div>
                                                    </a>
                                                </div>
                                                <br /><br /><br /><br />
                                                <div class="sl-item" style="border:none;">
                                                    <a href="javascript:void(0)">

                                                        <div class="sl-content" style="margin-left:0px;">
                                                            <span class="capitalize-font txt-success mr-5 weight-500"> Education</span>
                                                            <hr>
                                                            <p class="inline-block"><br><br></p>

                                                            <div class="col-lg-12">
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Institution:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.Institution</div></div>
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Degree:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.Degree</div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Qualification:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.Qualification</div>
                                                                </div>

                                                                        </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <br /><br />
                                                <div class="sl-item" style="border:none;">
                                                    <a href="javascript:void(0)">

                                                        <div class="sl-content" style="margin-left:0px;">
                                                            <span class="capitalize-font txt-success mr-5 weight-500"> Other</span>
                                                            <hr>
                                                            <p class="inline-block"><br><br></p>


                                                            <div class="col-lg-12">
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Who Are You:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.WhoYouAre</div></div>
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Willing To Be:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.WillingToBe</div>
                                                                </div>

                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Area of Expertise:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.Expertise</div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Field of Expertise(Years):</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.fieldExpertise Years</div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Specialty:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.Specialty</div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Area of Interest:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.Interest</div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="col-lg-3 pull-left"><strong> Category:</strong></div> <div class="col-lg-9 pull-right">@Model.MyProfile.MentorCategory</div>
                                                                </div>

                                                                                        </div>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="sl-item" style="border:none;">
                                                    <p class="inline-block"><br><br></p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="follo_8" class="tab-pane fade" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="followers-wrap">
                                            <ul class="followers-list-wrap">
                                                <li class="follow-list">
                                                    <div class="follo-body">
                                                        @if (Model.FollowList.Count() == 0)
                                                        {
                                                            <h3>No record found.</h3>
                                                        }
                                                        @{foreach (var rec in Model.FollowList)
                                                            {
                                                                <div class="follo-data">
                                                                    @if (rec.ProfilePicsName == string.Empty && rec.Gender == "Male")
                                                                    {
                                                                        <img class="user-img img-circle" src="~/Content/dist/img/userMale.png" />
                                                                    }

                                                                    else if (rec.ProfilePicsName == string.Empty && rec.Gender == "Female")
                                                                    {
                                                                        <img class="user-img img-circle" src="~/Content/dist/img/userfeMale.png" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img class="user-img img-circle" src="~/Files/@rec.ProfilePicsName" alt="user" />
                                                                    }
                                                                    
                                                                    <div class="user-data">
                                                                        @{ string myName = rec.Title + " " + rec.LName + " " + rec.FName;}
                                                                        <span class="name block capitalize-font"> @myName</span>
                                                                        <span class="time block truncate txt-grey">@rec.OwnersId</span>
                                                                    </div>
                                                                    <a title="Follow This Person" href="@Url.Action("follow_click", "mentorpartner", new { id = rec.Id })" class="btn btn-success pull-right btn-xs fixed-btn"> Follow <i class='fa fa-user'></i></a>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                            }
                                                        }

                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="folloing_8" class="tab-pane fade" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="followers-wrap">
                                            <ul class="followers-list-wrap">
                                                <li class="follow-list">
                                                    <div class="follo-body">
                                                        @if (Model.FollowingList.Count() == 0)
                                                        {
                                                            <h3>No record found.</h3>
                                                        }
                                                        @{foreach (var item in Model.FollowingList)
                                                            {
                                                                <div class="follo-data">
                                                                    @if (item.ProfilePicsName == string.Empty && item.Gender == "Male")
                                                                    {
                                                                        <img class="user-img img-circle" src="~/Content/dist/img/userMale.png" />
                                                                    }

                                                                    else if (item.ProfilePicsName == string.Empty && item.Gender == "Female")
                                                                    {
                                                                        <img class="user-img img-circle" src="~/Content/dist/img/userfeMale.png" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img class="user-img img-circle" src="~/Files/@item.ProfilePicsName" alt="user" />
                                                                    }
                                                                    <div class="user-data">
                                                                        @{ string myName = item.Title + " " + item.LName + " " + item.FName;}
                                                                        <span class="name block capitalize-font">@myName </span>
                                                                        <span class="time block truncate txt-grey">@item.Following</span>
                                                                    </div>
                                                                    <a title="Un-Follow This Person" href="@Url.Action("UnFollow_Click", "mentorpartner", new { id = item.Id })" class="btn btn-success btn-outline pull-right btn-xs fixed-btn"> Un-Follow <i class='fa fa-user'></i></a>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                            }
                                                        }

                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>







                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- /Row -->



