@using Microsoft.AspNet.Identity
@using RESAERCHMENTOR.NET.Controllers
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>@ViewBag.Title : Mentor Partners</title>
	

	<meta name="description" content="Mentor Partner" />
	<meta name="keywords" content="Mentor Partner" />
	<meta name="author" content="hencework" />


    @Scripts.Render("~/bundles/dist")
    @Scripts.Render("~/bundles/vendors")

	<!-- Favicon -->
	<link rel="shortcut icon" href="~/Content/favicon.ico">
	<link rel="icon" href="~/Content/favicon.ico" type="image/x-icon">

	<!-- Morris Charts CSS -->
	<link href="~/Content/vendors/bower_components/morris.js/morris.css" rel="stylesheet" type="text/css" />

	<!-- vector map CSS -->
	<link href="~/Content/vendors/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Wysihtml5 css -->
    <link rel="stylesheet" href="~/Content/vendors/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css" />

	<!-- Calendar CSS -->
	<link href="~/Content/vendors/bower_components/fullcalendar/dist/fullcalendar.css" rel="stylesheet" type="text/css" />

	<!-- Data table CSS -->
	<link href="~/Content/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

	<!-- Custom CSS -->
	<link href="~/Content/dist/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/dist/css/custom-style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    @{
        string Username = User.Identity.GetUserName();
        DBConnect dbconrext = new DBConnect();
        string imgName = "";
        if (Username != string.Empty)
        {
            imgName = dbconrext.GetLoginUser(Username).ProfilePicsName;
        }
    }
    <!--/Preloader-->
    <div class="wrapper theme-1-active pimary-color-green">
        @if (Request.IsAuthenticated)
        {
			 <!-- Top Menu Items -->
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="mobile-only-brand pull-left">
                    <div class="nav-header pull-left">
                        <div class="logo-wrap">
                            <a href="@Url.Action("index","home")">
                                <img class="" src="~/Content/dist/img/logo.png" alt="brand" />
                                <!---span class="brand-text">Mentor Partner</span-->
                            </a>
                        </div>
                    </div>


                </div>
                <div id="mobile_only_nav" class="mobile-only-nav pull-right">
                    <ul class="nav navbar-right top-nav pull-right">


                        <li>
                            <a href="@Url.Action("index","home")"  data-toggle=""><i class=" ti-home"> Home</i> </a>
                        </li>

                        <li>
                            <a href="@Url.Action("AddPost", "MentorPartner")"  data-toggle="">
                            <i class=" ti-comments">
                                Post </i></a>
                        </li>

                        <li style="width:200px;">
                            <a href="@Url.Action("AddResearch", "MentorPartner")" data-toggle="">
                                <i class=" ti-comment-alt">
                                    Add research
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("UserInbox", "MentorPartner")" data-toggle="">
                                <i class="ti-envelope">
                                    Messages
                                </i>
                            </a>
                        </li>

                        <li style="width:200px;">
                            <a href="@Url.Action("userSearch", "MentorPartner")" data-toggle=""><i class="ti-user"> Find a Mentor </i></a>
                        </li>
                        
                        <li>
                            <a href="@Url.Action("UserProfile", "MentorPartner")">                               
                                    @if (@imgName == null)

                                    { 
                                        
                                        <img src="~/Content/dist/img/user1.png" alt="user_auth" class="user-auth-img img-circle" />}

                                    else
                                    {
                                        <img src="~/Files/@imgName" alt="user_auth" class="user-auth-img img-circle" />


                                    }
                                    <span class="user-online-status"></span>
                                </a>

                        </li>
                        <li>
                            <a href="@Url.Action("LogOffExtend", "Account")"><i class="ti-lock"> Log Out</i></a>
                        </li>
                    </ul>
                </div>
            </nav>
			<!-- /Top Menu Items -->
			<!-- Right Sidebar Menu -->

            <!-- Right Sidebar Menu -->


        }
        else
        {
			  <!-- Top Menu Items -->
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="mobile-only-brand pull-left">
                    <div class="nav-header pull-left">
                        <div class="logo-wrap">
                            <a href="@Url.Action("index","home")">
                                <img class="" src="~/Content/dist/img/logo.png" alt="brand" />
                                <!--span class="brand-text">Mentor Partner</span -->
                            </a>
                        </div>
                    </div>


                </div>

                <div>
                    <ul class="nav navbar-right top-nav pull-right">
                        <li class="active"><a href="@Url.Action("index","home")"><i class=" ti-home"> Research</i></a></li>
                        <li class="active"><a href="@Url.Action("Register","Account")"><i class=" ti-user"> Sign Up</i> </a></li>
                        <li class="active"><a href="@Url.Action("Login","Account")"><i class="ti-lock"> Log In</i> </a></li>
                    </ul>
                </div>

            </nav>
			  <!-- /Top Menu Items -->
        }
        <!-- Main Content -->
        <div class="page-wrapper">
            <div class="container-fluid">
                @RenderBody()

            </div>

            <!-- Footer -->
            <footer class="footer container-fluid pl-30 pr-30">
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                           <div class="pull-left"> <a href="#">About us</a>  | 
                <a href="@Url.Action("TermsAndConditions","MentorPartner")">Privacy</a> | <a href="@Url.Action("TermsAndConditions","MentorPartner")">Terms</a>  |  <a href="@Url.Action("TermsAndConditions","MentorPartner")">Copyright</a>  |   <a href="#">Careers</a>   |  <a href="#">Help Center</a>  |  <a href="@Url.Action("TermsAndConditions","MentorPartner")">Mentors</a></div> &nbsp; &nbsp; &nbsp; &nbsp; <div class="pull-right"><a href="#">2018 &copy; Mentor Partners All rights reserved</a></div>
                        </p>
                    </div>
                </div>
            </footer>
            <div class="clearfix"></div>
            <!-- /Footer -->
        </div>
    </div>



    <!-- /#wrapper -->
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="~/Content/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Vector Maps JavaScript -->
    <script src="~/Content/vendors/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Content/vendors/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content/dist/js/vectormap-data.js"></script>


    <!-- Calender JavaScripts -->
    <script src="~/Content/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Content/vendors/jquery-ui.min.js"></script>
    <script src="~/Content/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Content/dist/js/fullcalendar-data.js"></script>

    <!-- Counter Animation JavaScript -->
    <script src="~/Content/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/Content/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>

    <!-- Data table JavaScript -->
    <script src="~/Content/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>

    

    <!-- Slimscroll JavaScript -->
    <script src="~/Content/dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="~/Content/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- Sparkline JavaScript -->
    <script src="~/Content/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>

    <script src="~/Content/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <script src="~/Content/dist/js/skills-counter-data.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/Content/vendors/bower_components/raphael/raphael.min.js"></script>
    <script src="~/Content/vendors/bower_components/morris.js/morris.min.js"></script>
    <script src="~/Content/dist/js/morris-data.js"></script>

    <!-- Owl JavaScript -->
    <script src="~/Content/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

    <!-- Switchery JavaScript -->
    <script src="~/Content/vendors/bower_components/switchery/dist/switchery.min.js"></script>
    <!-- wysuhtml5 Plugin JavaScript -->
    <script src="~/Content/vendors/bower_components/wysihtml5x/dist/wysihtml5x.min.js"></script>

    <script src="~/Content/vendors/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.js"></script>


    <!-- Bootstrap Wysuhtml5 Init JavaScript -->
    <script src="~/Content/dist/js/bootstrap-wysuhtml5-data.js"></script>


    <!-- Fancy Dropdown JS -->
    <script src="~/Content/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- twitter JavaScript -->
    <script src="~/Content/dist/js/twitterFetcher.js"></script>

    <!-- Spectragram JavaScript -->
    <script src="~/Content/dist/js/spectragram.min.js"></script>

    <!-- Init JavaScript -->
    <script src="~/Content/dist/js/init.js"></script>
    <script src="~/Content/dist/js/widgets-data.js"></script>

  
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>
